<div class="jumbotron bg-img">
    <div align="center">
        <h1 align="center">Private Events</h1>
        <h2>Welcome to our app you can use the button below to create an account</h2>
        <% if current_user %>
            <%= link_to "Events", events_path, class: 'btn btn-primary btn-lg' %>
        <% else %>
            <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
    </div>
</div>