<h1 align="center"> Welcome <%= @user.username %> ! </h1>

<% @user.events.each do |event| %>
    <div align="center">
        <h3><%= event.name %></h3>
        <p>
            <%= event.location %>
            <%= event.date %>
        </p>
    </div>
    
<% end %>