<h1 align="center">Showing all the events </h1>
<div align="center">
    <h2>Upcoming Events</h2>
    <% @upcoming_events.each do |event| %>
    <h3>  <%=  link_to "#{event.name}", event_path(event) %> </h3>
    <% end %>
    
    <hr>

    <h2>Past Events</h2>
    <% @past_events.each do |event| %>
    <h3>  <%=  link_to "#{event.name}", event_path(event) %> </h3>
    <% end %>

</div>

