<h1 align="center"> Showing the events</h1>

<div class="event">
    <h3 align="center"><%= @event.name %></h3>
    <h4 align="center">Creator: <%= @event.creator.username %> </h4>
</div>

<h3 align="center"> Attendees:</h3>
    <% @event.attendees.each do |attendee| %>
     <h4 align="center"><%= attendee.username %></h4> 
<%end %>